@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

html {
  scrollbar-gutter: unset;
}

input,
textarea,
select {
  @apply outline-none border-transparent focus:border-transparent focus:ring-0;
}

/* Custom styles */
.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  overflow-y: auto;
}

footer {
  height: 3rem;
  flex-shrink: 0;
}

.drawer-side {
  scrollbar-width: thin;
}

.drawer-side::-webkit-scrollbar {
  width: 4px;
}