@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

html {
  scrollbar-gutter: unset;
}
